<div class="form-container">
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitReviewPath %>" method="post">
      <% if (!review.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div class="field">
        <label for="comment">Comment</label>
        <input type="text" name="comment" value="<%= review.comment %>" />
      </div>
      <div class="field">
        <label for="score">Score</label>
        <input type="number" name="score" value="<%= review.score %>" min="0" max="5" />
      </div>
      <div class="field">
        <% if (review.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>
