<!-- Trigger/Open The Modal -->

<a class="itinerary-edit__btn" id="add-activity" title="Add activity">
    + Activity
</a>
<!-- The Modal -->
<div id="activityModal" class="modal">
<!-- Modal content -->
    <div class="modal-content">
        <span class="activityClose">&times;</span>
        <div class="login-container">
            <% if (locals.notice) { %>
            <div className="notice"><%= notice %></div>
            <% } %>
            <h2>New Activity</h2>
            <% if (locals.error) { %>
            <div class="error">
                <%= error %>
            </div>
            <% } %>
            <form action="<%= submitDayActivityPath %>" method="post">
                    <div class="field">
                      <label for="title">Title</label>
                      <input type="text" name="title" value="" />
                    </div>
                    <div class="field">
                      <label for="description">Description</label>
                      <textarea type="text" name="description"></textarea>
                    </div>
                    <div class="field">
                        <input type="submit" name="create" value="Create" />
                    </div>
                  </form>
        </div>
    </div>
</div>