<h1>Entrega 1 - CRUD</h1>

<div class="row">
  <div class="column">
      <h2>Users</h2>
      <a href="/users">All Users</a> <br>
      <a href="/users/new">Create user</a> <br><br>
      
      <h2>Itinerary</h2>
      <a href="/itineraries">All Itineraries</a> <br>
      <a href="/itineraries/new">Create itinerary</a> <br><br>

      <h2>Destination</h2>
      <a href="/destinations">All Destinations</a> <br>
      <a href="/destinations/new">Create destination</a> <br><br>
  </div>
  <div class="column">
    <h2>Day</h2>
    <a href="/days">All Days</a> <br>
    <a href="/days/new">Create day</a> <br><br>
    
    <h2>Activity</h2>
    <a href="/activities">All Activities</a> <br>
    <a href="/activities/new">Create activity</a> <br><br>
    
    <h2>Review</h2>
    <a href="/reviews">All Reviews</a> <br>
    <a href="/reviews/new">Create review</a> <br><br>
  </div>
</div>
