<h1> ¡<%= user.username %> ! Bienvenido a Travel n Plan</h1>
<h2>Bienvenido a TIP</h2>
<p>Esperamos que puedas actualizar tu información personal 
apropiadamente antes de dar uso a la plataforma. Esto con el fin 
de que puedas obtener una mejor experiencia.</p>
<h2>¡Apovecha nuestra plataforma y encuentra el viaje perfecto para ti!</h2>
