<h1>¡<%= user.username %>! Bienvenido a Travel n Plan</h1>

<p>Ya estás registrad@. En Settings podrás agregar y modificar tu información personal, para compartir tus experiencias con los demás usuarios.</p>
<h3>¡Aprovecha nuestra plataforma y encuentra el viaje perfecto para ti!</h3>
