.itinerary-header {
  display: flex;
  justify-content: space-between;
}

.itinerary-info {
  padding: 20px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  &__author {
    color: $secondary-text;
    margin-left: 10px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: $primary-text;
    }
  }
}

.itinerary-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  img {
    max-width: 20px;
    max-height: 20px;
  }

  input {
    background-color: $btn-bg;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    font-weight: bolder;
    color: $btn-color;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    font-size: 18px;
  }

  &__btn {
    padding: 5px;
    margin: 8px;
    background: $btn-bg;
    border: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: $home-title-color;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $btn-hover-bg;
    }
  }
}

.itinerary-container {
  display: flex;
  flex-direction: row;
  max-height: 65vh;
  background-color: $bg-primary-color;
}

.side-info {
  max-width: 300px;
  padding: 20px;
  overflow: auto;
  flex: 1;

  &__image {
    img {
      margin: 10px;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      max-width: 400px;
      max-height: 200px;
      object-fit: cover;
    }
  }

  &__budget {
    color: $primary-shadow-color;
    font-weight: bold;
    margin: 20px;
    text-align: center;
  }

  &__labels {
    margin: 10px;

    .one-label {
      padding: 5px;
      margin-top: 8px;
      margin-bottom: 8px;
      background: $btn-bg;
      border: none;
      font-weight: bold;
      color: $home-title-color;
      border-radius: 5px;
      height: 30px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  &__score {
    color: $secondary-text;
    margin-top: 30px;
    text-align: center;
  }
}

.main-info {
  overflow: auto;
  padding: 30px;
  flex: 1;

  &__description {
    color: $secondary-text;
    padding-bottom: 20px;
    text-align: justify;
    font-style: italic;
  }

  &__content {
    color: $secondary-text;
  }
}

.day-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid $light-border;
  background-color: $bg-third-color;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;

  &__info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__activities {
      flex-direction: column;
      display: flex;
      overflow: auto;
      margin: 10px;

      p {
        font-weight: bolder;
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 0;
      }
    }

    &__edit {
      display: flex;
      justify-content: flex-end;

      form {
        margin-top: 3px;
      }

      input {
        text-decoration: none;
        border: none;
        background: none;
        color: $secondary-text;
        font-size: 12px;
        padding: 5px;
        margin: 2px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        text-decoration: none;
        font-size: 12px;
        padding: 5px;
        margin: 2px;
        color: $secondary-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__header {
      background: $primary-color;
      color: $home-title-color;
      font-weight: bold;
      padding: 20px;
      font-size: 15px;
      border-top-left-radius: 20px;
    }

    &__header-no-pic {
      background: $primary-color;
      color: $home-title-color;
      font-weight: bold;
      padding: 20px;
      font-size: 15px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  &__image {
    img {
      align-items: center;
      display: flex;
      justify-content: center;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }
}

.activity-container {
  padding: 10px;

  &__title {
    display: flex;
    font-weight: bold;

    .day-container__info__edit {
      margin-left: auto;
      font-weight: 100;
    }
  }

  &__description {
    color: $secondary-text;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-border;
  }
}

.review-container {
  display: flex;
  flex-direction: column;
  background-color: $bg-primary-color;
  max-height: 500px;
  margin-top: 20px;

  &__title {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  &__info {
    margin: 20px;
    overflow: auto;
    flex: 1;
  }
}

.review {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 150px;
  border-bottom: 1px solid $light-border;

  &__author {
    display: flex;
    &__image {
      margin: 10px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
    }

    &__info {
      margin: 10px;
      display: flex;
      flex-direction: column;

      #review-username {
        font-size: 15px;
        color: $primary-text;
        padding-bottom: 5px;

        a {
          text-decoration: none;
          color: $primary-text;
        }
      }

      #review-date {
        color: $secondary-text;
      }

      #review-score {
        font-weight: bold;
      }
    }
  }

  &__comment {
    flex: 1;
    overflow: auto;
    margin: 10px;
    color: $secondary-text;
    padding-left: 10px;
    border-left: 1px solid $light-border;
  }
}

.rate-itineray {
  margin-top: 10px;
  align-items: right;
  font-size: 13px;

  a {
    color: $btn-bg;
    font-weight: bold;
  }
}

.back-to-itineraries {
  margin: 10px;
  align-items: right;
  font-size: 13px;

  a {
    color: $btn-bg;
    font-weight: bold;
  }
}

// https://codepen.io/Bluetidepro/pen/GkpEa
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: $border;
  font-size: 25px;
  height: 30px;
  width: 130px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  float: left;
  margin-right: 0;
  overflow: hidden;

  &-top {
    color: $btn-bg;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

// .rate {
//   float: left;
//   height: 46px;
//   padding: 0 10px;
//   flex: 1;
//   overflow: hidden;
// }
// .rate:not(:checked) > input {
//   position:absolute;
//   top:-9999px;
// }
// .rate:not(:checked) > label {
//   float:right;
//   width:1em;
//   overflow:hidden;
//   white-space:nowrap;
//   cursor:pointer;
//   font-size:30px;
//   color:#ccc;
// }
// .rate:not(:checked) > label:before {
//   content: '★ ';
// }
// .rate > input:checked ~ label {
//   color: #ffc700;
// }
// .rate:not(:checked) > label:hover,
// .rate:not(:checked) > label:hover ~ label {
//   color: #deb217;
// }
// .rate > input:checked + label:hover,
// .rate > input:checked + label:hover ~ label,
// .rate > input:checked ~ label:hover,
// .rate > input:checked ~ label:hover ~ label,
// .rate > label:hover ~ input:checked ~ label {
//   color: #c59b08;
// }

.itinerary-list {
  display: flex;
  flex-direction: column;
}

.itinerary-list-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid $border;
  height: 200px;
  background: $bg-primary-color;
  min-width: 600px;

  &__picture {
    img {
      align-items: center;
      display: flex;
      justify-content: center;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      width: 400px;
      height: 200px;
      object-fit: cover;
    }
  }

  &__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 750px;

    &__title {
      font-weight: bold;
      font-size: 20px;
      display: flex;

      a {
        text-decoration: none;
        color: $primary-text;
      }

      .day-container__info__edit {
        margin-left: auto;
        font-weight: 100;
        flex-direction: column;
        text-align: right;

        a {
          padding-bottom: 0;
          margin-bottom: 0;
        }

        input {
          padding-top: 0;
          margin-top: 0;
        }

        form {
          padding-top: 0;
          margin-top: 0;
        }
      }
    }

    &__summary {
      display: flex;
      color: $secondary-text;
      flex: 1;
      overflow: auto;

      #dates {
        padding: 10px;
      }

      #budget {
        padding: 10px;
        color: $primary-shadow-color;
      }

      #score {
        padding: 10px;
      }
    }

    &__description {
      font-style: italic;
      padding: 10px;
      color: $secondary-text;
      border-top: 1px solid $light-border;
      text-align: justify;
      flex: 1;
      display: flex;
      overflow: auto;
    }
  }

  &__author {
    padding: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;

    &__picture {
      display: flex;
      justify-content: center;

      img {
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius: 100%;
      }
    }

    &__name {
      padding: 10px;

      a {
        text-decoration: none;
        color: $primary-text;
      }
    }
  }
}

.back {
  text-decoration: none;
}

#add-day, #add-destination, #add-activity {
  width: auto;
  font-size: 13px;
  padding-right: 20px;
  padding-left: 20px;
  height: 30px;
}

#itineraries-list {
    th {
      background-color: #CCD1E5;
      text-align: center;
    }

    td {
      background-color: #EEE;
      border: 1px solid rgb(194, 194, 194);
      padding: 10px;
    }
  }

#one-itinerary {
    th {
      background-color: #CCD1E5;
      text-align: center;
    }

    td {
      background-color: #EEE;
      border: 1px solid rgb(194, 194, 194);
      padding: 10px;
    }
  }
