<!-- A futuro restringir a sólo dueños -->
<% if (currentUser) { %>
    <h2>Edit Destination</h2>
    <%- include('_form') %>
<% } else { %>
    <p>Oops... you don't have access to this page</p>
<% } %>
